.navbar-custom {
    height:100px;
}
    

.class1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:wheat;
}

.class2{
    margin-left: 80%;
}

.class4{
    width:30%;
    margin-right:100px;
}

/* Add your existing CSS rules here */

.bg-container {
    background-image: url('/static/swiggyback4.jpg');
    background-size: cover;
    height: 100vh;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

:root { scroll-behavior: smooth; }
.stt {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: rgb(128, 128, 255) url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3Cpath fill='currentColor' d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
    box-shadow: 0 0.25rem 0.5rem 0 gray;
    opacity: 0.7;
}
.stt:hover {
  opacity: 0.8;
}
.stt:focus {
  opacity: 0.9;
}
.stt:active {
  opacity: 1;
}
.navbar-custom {
    height:100px;
}
.class100{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:wheat;
}
        
.class300{
    margin-left: 78%;
}
        
.class400{
    width:30%;
    margin-right:100px;
}
        
.bg-container {
    background-image: url('/static/swiggyback4.jpg');
    background-size: cover;
    height: 95vh;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;        
}        
.navbar{
    padding:10px;
    border-radius: 10px;
}
        
.class{
    margin-top: 50px;
}
        
.class1{
    margin-top:30px;
}
        
.class2{
    text-align: center;
    border:red;
    border-radius: 10px;
}
        
.class3{
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    width:295px;
    height:200px;
    padding-left:4.5px;
    padding-top:4.5px;
}
.class4{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left:10px;
    color:green;
}
        
.class5{
   font-family: 'Times New Roman', Times, serif; 
   color:red;
}
        
.class6{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
        
.class7{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
        
.top{
    position:relative;
}
        
.class8{
    text-align:center;
}
        
.class2:hover{
    background-color:skyblue;
}
        
.class12{
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center ;
    height:40px;
    background-color: orange;
    border-radius: 10px;
}
        
.popup-container {
    display: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #a09068;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  .goto-cart-link {
    text-align: center;
    margin-top: 10px;
  }
        
  .class14{
    color:black;
    text-decoration: none;
  }