<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\menu.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a style="color: #ffffff;" class="nav-link" href="/profile">PROFILE</a>
              </li>
              <li class="nav-item">
                <a style="color: #ffffff;" class="nav-link" href="/cart">CART</a>
              </li>
              <li class="nav-item" >
                <a style="color: #ffffff;" class="nav-link" href={% url "sapp:orderstatus" %}>ORDERS</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item">
                    <a style="color: #ffffff;" class="nav-link active" aria-current="page" href="#veg">VEG</a>
                </li>
                <li class="nav-item">
                    <a style="color: #ffffff;" class="nav-link" href="#non-veg">NON-VEG</a>
                </li>
                <li class="nav-item dropdown">
                    <a style="color: #ffffff;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        STARTERS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#veg-starter">Veg</a></li>
                        <li><a class="dropdown-item" href="#non-veg-starter">Non-veg</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Juices</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button style="color: #ffffff;" class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
  </nav>
  
  {% block body %}
  {% endblock body %}

</body>
</html>